html, body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  margin-bottom: 8px;
}

#root {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.grid {
  margin: auto;
  display: grid;
  width: 90%;
  height: 90%;
  max-width: 500px;
  max-height: 800px;
  grid-template-columns: 1.3fr 0.7fr;
  grid-template-rows: 0.5fr 2fr 0.5fr; 
  gap: 8px 8px;
  grid-auto-flow: row;
}

.grid > * {
  background-color: lightgrey;
  border-radius: .25em;
  padding: 4px;
}

.things { 
  grid-area: 2 / 1 / 3 / 2; 
  overflow: hidden; 
  display: flex; 
  flex-direction: column
}
.self { 
  grid-area: 1 / 1 / 2 / 2;
}
.online { 
  grid-area: 1 / 2 / 4 / 3;
  white-space-collapse: preserve;
}
.new-item { 
  grid-area: 3 / 1 / 4 / 2; 
}

.thing-scroll {
  width: 100%;
  height: 100%;
  max-height: 100%;
  overflow-y: scroll; /* auto; */
  display: flex; 
  flex-direction: column; 
  gap: 8px;
}

.thing {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: grey
}

.thing[data-active=true] {
  color: white
}

button, input[type=checkbox] {
  cursor: pointer;
}
